.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  td, th {
    border: 1px solid #b3b3b3;
    text-align: left;
    padding: 8px;
  }
  td {
    cursor: pointer;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}