.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-head {
    background-color: gray;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  &-row {
    margin-top: 5px;
  }
}